.formCont {
    --color1: #a9d7ff;
    --shade1: #ddd;
    --shade2: #333;
    --paddingSmall: 1rem;
    --paddingLarge: 2rem;
    --transitionSmall: 400ms;
    --mediumFontWeight: 700;
    --smallWidth: 1rem;

    --regularGap: 1rem;
    --smallGap: .5rem;



    position: fixed;
    bottom: 0;
    right: 0;
    display: grid;
    width: min-content;
    z-index: 99999;
}

.form {
    width: min(1000px, 100vw);
    height: 60vh;
    overflow-y: auto;
    display: grid;
    padding: var(--paddingSmall);
    background-color: #fff;
    border: 1px solid #000;
}

.formCont input,
.formCont textarea {
    padding: var(--paddingSmall);
    border-radius: .2rem;
    border: 1px solid var(--shade1);
}

.formCont .colorInput {
    border-radius: 50%;
    inline-size: 30px;
    block-size: 30px;

    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
}

/* Affects area between outer circle and color swatch. Firefox doesn't have an equivalent. */
.formCont .colorInput::-webkit-color-swatch-wrapper {
    padding: 1px;
}

/* Affects the inner circle, i.e. the current color selection */
.formCont .colorInput::-webkit-color-swatch {
    border-radius: 50%;
}

.formCont .colorInput::-moz-color-swatch {
    border-radius: 50%;
}



.formCont h3 {
    font-weight: var(--mediumFontWeight);
}

.formCont label {
    font-weight: var(--mediumFontWeight);
    text-transform: capitalize;
}

/* .form input:focus,
.form textarea:focus {
} */

.formSectionCont {
    display: grid;
    gap: 2rem;
}

.formInputCont {
    display: grid;
}

.formCont .mainButton {
    background-color: var(--color1);
    border-radius: .5rem;
    text-transform: uppercase;
    color: #fff;
    padding: var(--paddingSmall) var(--paddingLarge);
    transition: filter var(--transitionSmall);
    white-space: nowrap;
}

.formCont .mainButton:hover {
    filter: brightness(.9);
}

.formCont .mainButton:disabled {
    opacity: .5;
}


.formCont .secondaryButton {
    background-color: var(--shade2);
    color: #fff;
    text-transform: uppercase;
    padding: var(--paddingSmall) var(--paddingLarge);
    white-space: nowrap;
}

.formCont .secondaryButton:hover {
    filter: brightness(.9);
}