@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --color1: var(--color1);
  --color2: var(--color2);
  --color3: var(--color3);
  --color4: var(--color4);
  --color5: var(--color5);
}

*,
*::before,
*::after {
  /* border: 1px solid red !important; */
}